
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h3>Trang chủ</h3>
<hr />

<p>
    <h4>DANH SÁCH BÀI TẬP: </h4>
    1. Tạo một trang web thực hiện chức năng đăng ký thông tin nhân viên gồm các thông tin: Mã số nhân viên, họ tên, ngày sinh, email, mật khẩu, đơn vị và ảnh đại diện.<br />
    Khi người dùng nhấn nút Đăng ký, ứng dụng cho phép lưu thông tin nhân viên vìa nhập vào file text và lưu ở Sever (hru cả hình về server), ứng dụng cho phép mở thông tin của nhân vừa đăng ký hiển thị lại client web.<br />
    2. Tạo 1 trang web cho phép đăng nhập vào email và gửi mail đến 1 địa chỉ khác (dùng mail yahoo hoặc gmail). Thông tin gửi mail bao gồm: địa chỉ mail người gửi, mật khẩu người gửi, địa chỉ mail cần giời đến. Tiêu đề, nội dung giời.<br />
    <i>Lưu ý, email phải nhập đúng định dạng và bắt buột không được rồng.</i><br />
    3. Tạo một chức năng cho phép người dùng chọn 1 ảnh bất kỳ (file Upload) để thay đổi banner trên giao diện web.<br />
    <i>Lưu ý, file ảnh sẽ được lưu trong tập tin txt.</i>
</p>

