
@{
    ViewBag.Title = "Mail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <h3>Gửi Email Thành Công!</h3>
    <p>Email của bạn đã được gửi thành công đến người nhận.</p>
    <a href="~/BT5_64132077/Index" class="btn btn-outline-success">Quay về Trang chủ</a>
</div>

