@{
    ViewBag.Title = "UseArguments";
    Layout = null;
}
<h4>THỰC HIỆN PHÉP TOÁN CƠ BẢN</h4>
<form name="f1" action="/baitap1_64131055/UseArguments" method="post">
    <div>
        Nhập a: <input type="text" name="a" /> <br />
        Nhập b: <input type="text" name="b" />
    </div>
    <div>
        <input type="radio" checked name="pt" value="+" />Cộng &nbsp;
        <input type="radio" name="pt" value="-" />Trừ &nbsp;
        <input type="radio" name="pt" value="*" />Nhân&nbsp;
        <input type="radio" name="pt" value="/" />Chia&nbsp;
        <input type="submit" value="Tính toán" />
    </div>

    <div>Kết quả: <input type="text" name="kq" value=@ViewBag.KQ /></div>
</form>



