
@{
    ViewBag.Title = "Register5";
    Layout = null;
}

<h2>THONG TIN SINH VIEN DA DANG KY:</h2>
MA SINH VIEN: @ViewBag.studentId
<br />
HO TEN SINH VIEN: @ViewBag.fullName
<br />
DIEM: @ViewBag:score


