@{
    ViewBag.Title = "Register2";
    Layout = null;
}

<h2>Thông Tin Sinh Viên</h2>

<table>
    <tr>
        <td>Mã sinh viên:</td>
        <td>@ViewBag.Id</td>
    </tr>
    <tr>
        <td>Họ và tên:</td>
        <td>@ViewBag.Name</td>
    </tr>
    <tr>
        <td>Điểm:</td>
        <td>@ViewBag.Marks</td>
    </tr>
</table>
